<div id="fb-root"></div>
<script>
  FB = null;
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=265461633805036";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-href="http://lovediky-wedding.appspot.com" data-width="100%" data-numposts="10"></div>
<br/><br/>
<div class="fb-like" data-href="http://lovediky-wedding.appspot.com" data-width="360" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
<br/><br/>
